<!DOCTYPE html>
<html>
<head>
    <title>Game Picker</title>
    <script src="../scripts/genre_dropdown.js"></script>
</head>
<body> 
    <form action="/result.html" method="post">
        <div>
            <h1>Use this site to recommend a steam game!</h1>
            <p>*please fill all fields</p>
        </div>
        <div>
            <p> what genre of game do you want to play? select from any steam game tag [Indie, Multiplayer, Singleplayer, Action, Adeventure, RPG, etc]
                <a href="https://store.steampowered.com/tag/browse/#global_492">check out popular tags</a>
            </p>
            <select name="genre" id="genre_dropdown"> </select>
        </div>
        <div>
            <p> how many games do you want to scrape? (More will take longer, but can provide more accurate results) </p>
            <select name="scrape_amount" required>
                <option value=50>50</option>
                <option value=100>100</option>
                <option value=250>200</option>
                <option value=500>500</option>
                <option value=1000>1000</option>
            </select>
        </div>
        <div>
            <p>minimum review score?</p>
            <!-- <input type="text" name="review_score" required> -->
            <select name="review_score" required>
                <option value="Overwhelmingly Negative">Overwhelmingly Negative</option>
                <option value="Very Negative">Very Negative</option>
                <option value="Negative">Negative</option>
                <option value="Mixed">Mixed</option>
                <option value="Positive">Positive</option>
                <option value="Very Positive">Very Positive</option>
                <option value="Overwhelmingly Positive">Overwhelmingly Positive</option>
            </select>
        </div>
        <div>
            <p>briefly describe the game your looking for (style of game, vibe, etc)</p>
            <input type="text" name="game_description" required>
        </div>
        <div>
            <p>Number of results</p>
            <select name="number_of_results" required>
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=25>25</option>
                <option value=50>50</option>
                <option value=100>100</option>
            </select>
        </div>
         <input type="submit" value="Submit">
    </form>

</body>
</html>
